/*!
Theme Name: cian
Theme URI: http://underscores.me/
Author: Evgeni Shavrin
Author URI: http://underscores.me/
Description: Landing Page for CIAN subscriptions
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: cian
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

*/


/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.fs-24{
	font-size: 24px;
}

.fs-32{
	font-size: 32px;
}

.fs-52{
	font-size: 52px;
}

.text-white{
	color: #fff;
}

p {
	margin-bottom: 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

ul{
	list-style: none;
}

.blue-light{
	color: rgb(0, 108, 253);
}

.blue-dark{
	color: #031d40;
}

.bg-blue-dark{
	background-color: #031d40;
}

.bg-blue-light{
	background-color: rgb(0, 108, 253);
}

.text-justify {
	text-align: justify;
}

.text-wrap {
	white-space: normal;
}

.text-nowrap {
	white-space: nowrap;
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

@media (min-width: 576px) {
	.text-sm-left {
		text-align: left;
	}
	.text-sm-right {
		text-align: right;
	}
	.text-sm-center {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.text-md-left {
		text-align: left;
	}
	.text-md-right {
		text-align: right;
	}
	.text-md-center {
		text-align: center;
	}
}

@media (min-width: 992px) {
	.text-lg-left {
		text-align: left;
	}
	.text-lg-right {
		text-align: right;
	}
	.text-lg-center {
		text-align: center;
	}
}

@media (min-width: 1200px) {
	.text-xl-left {
		text-align: left;
	}
	.text-xl-right {
		text-align: right;
	}
	.text-xl-center {
		text-align: center;
	}
}

.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-lighter {
	font-weight: lighter;
}

.font-weight-normal {
	font-weight: 400;
}

.font-weight-bold {
	font-weight: 700;
}

.font-weight-bolder {
	font-weight: bolder;
}

.font-italic {
	font-style: italic;
}

/* Links
--------------------------------------------- */
a {
	color: rgb(0, 108, 253);
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 108, 253);
}

a:hover,
a:focus,
a:active {
	color: rgba(0, 108, 253, 0.85);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a.header-telega{
	font-size: 20px;
	font-family: 'Grtsk-Peta', Arial, sans-serif;
	line-height: 1.55;
	color: #000;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: transparent;
	border-radius: 0;
	background: #031d40;
	color: #fff;
	line-height: 1;
	padding: 14px;
	font-weight: bold;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #555;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #555;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="j-date"],
textarea {
	color: #555;
	border:1px solid rgb(0, 108, 253);;
	border-radius: 0;
	padding: 12px;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
input[type="j-date"]:focus,
textarea:focus {
	color: #031d40;
	outline: none;
	border:1px solid rgb(0, 108, 253);;
}

select {
	border: 1px solid rgb(0, 108, 253);;
}

textarea {
	width: 100%;
}

.form-group label{
	display: block;
}

.acf-field.cian-field input[type="text"],
.acf-field.cian-field input[type="password"],
.acf-field.cian-field input[type="date"],
.acf-field.cian-field input[type="datetime"],
.acf-field.cian-field input[type="datetime-local"],
.acf-field.cian-field input[type="email"],
.acf-field.cian-field input[type="month"],
.acf-field.cian-field input[type="number"],
.acf-field.cian-field input[type="search"],
.acf-field.cian-field input[type="tel"],
.acf-field.cian-field input[type="time"],
.acf-field.cian-field input[type="url"],
.acf-field.cian-field input[type="week"],
.acf-field.cian-field textarea,
.acf-field.cian-field select {
	padding: 14px;
	margin: 0;
	font-size: 14px;
	line-height: 1.4;
}

.acf-fields >.acf-field{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site-footer{
	background-color: #031d40;
	color: #f1f2f4;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}



.bg-gray{
	background-color: #f1f2f4;
}


.updated > p{
	padding: 14px;
	background-color: green;
	color: white;
}

.acf-form-submit{
	text-align: center;
}

.acf-form *{
	font-size: 18px;
	line-height: 1.85;
}


















/*--------------------------------------------------------------
## Bootstrap 4.3 Media Queries
--------------------------------------------------------------*/


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


/*CUSTOM*/
/*Add Small devices*/
@media (max-width: 480px) {
	.fs-52{
		font-size: 42px;
	}
}

@media (max-width: 360px) {

}